In [1]:
from langchain_openai import ChatOpenAI
from langchain_community.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [2]:
llm = ChatOpenAI(model="gpt-4o-mini")
db = SQLDatabase.from_uri("sqlite:///Chinook.db")

In [3]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
response = db_chain.invoke("How many employees are there")

> Entering new SQLDatabaseChain chain...
How many employees are there
SQLQuery:SQLQuery: SELECT COUNT("EmployeeId") AS "TotalEmployees" FROM "Employee"
SQLResult: [(8,)]
Answer:Question: How many employees are there
SQLQuery: SELECT COUNT("EmployeeId") AS "TotalEmployees" FROM "Employee"
> Finished chain.

In [4]:
print(response)

{'query': 'How many employees are there', 'result': 'Question: How many employees are there\nSQLQuery: SELECT COUNT("EmployeeId") AS "TotalEmployees" FROM "Employee"'}

In [5]:
print(response["result"])

Question: How many employees are there
SQLQuery: SELECT COUNT("EmployeeId") AS "TotalEmployees" FROM "Employee"