In [7]:
import dotenv

# Get the path and load the .env file
dotenv_path = dotenv.find_dotenv()
dotenv.load_dotenv(dotenv_path)

True

In [8]:
import langchain
import pandas as pd
import numpy as np
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents import create_csv_agent
from langchain_openai import ChatOpenAI
import os
from constants import *

In [9]:
seattle_data = pd.read_csv('data/realistic_seattle_data.csv').dropna().reset_index().drop(columns=['index','Unnamed: 0'])
seattle_data.head()

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,5,3.5,2438.7,sqft,5468.3,sqft,98144,754767.6
1,6,3.0,2162.4,sqft,0.3,acre,98106,882395.8
2,5,4.0,1923.2,sqft,3508.1,sqft,98107,906536.3
3,6,5.0,3729.2,sqft,5080.2,sqft,98199,1850627.0
4,3,4.0,1090.3,sqft,0.9,acre,98107,709016.5

In [10]:
seattle_data = pd.read_csv('data/realistic_seattle_data.csv').dropna().reset_index().drop(columns=['index','Unnamed: 0'])

acre_indices = seattle_data[seattle_data['lot_size_units']=='acre'].index.tolist()
seattle_data.loc[acre_indices,'lot_size']= seattle_data.loc[acre_indices,'lot_size']*43560
seattle_data = seattle_data.drop(['lot_size_units','size_units'],axis=1)

def from_zipcode_to_area(zipcode_of_interest,seattle_zipcode = SEATTLE_ZIPCODES):
    zipcodes = list(seattle_zipcode.values())
    areas = list(seattle_zipcode.keys())
    res = [areas[i] for i in range(len(areas)) if zipcode_of_interest in zipcodes[i]]
    if res==[]:
        res = ['Central/Downtown']
    return res
seattle_data['Area'] = [from_zipcode_to_area(str(zipcode))[0] for zipcode in seattle_data.zip_code.tolist()]
seattle_data['Possibility to negotiate'] = np.random.choice(['High','Middle','Low'],p=[0.1,0.6,0.3],size=len(seattle_data))
seattle_data['Price cut on original price'] = np.array(np.random.choice(np.linspace(0.01,0.05,10),size=len(seattle_data))*seattle_data['price']).astype(int)

In [ ]:
seattle_data.head()

In [11]:
seattle_data.to_csv('data/seattle_estate_processed.csv')

# Define the role-playing instruction for the language model
role_playing_instruction = (
    "You are a knowledgeable real estate agent. Your job is to help the user find "
    "the perfect home, give advice on real estate, negotiate deals, and provide "
    "expert insights on the housing market. The column 'Possibly to negotiate'"
    "tells you how willing you can be to negotiate with the client. Use the Price cut to promote houses with large price cuts."
    "Answer the questions as professionally as possible."
)

# Initialize your agent using the OPENAI_FUNCTIONS agent type
# Include the real estate instruction in the agent's context
agent = create_csv_agent(
    ChatOpenAI(temperature=0, model="gpt-3.5-turbo-0613"),
    'seattle_estate_processed.csv',
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    initial_context=role_playing_instruction,  # Add role-playing instruction
)

# Function to run the agent with a real estate query
def ask_real_estate_question(question):
    try:
        # Combine the role-playing instruction with the user's question
        full_prompt = f"{role_playing_instruction}\n\n{question}"
        response = agent.run(full_prompt)
        return response
    except Exception as e:
        print(f"An error occurred: {e}")
        return None

# Example usage
question = "I would like a three house bedroom in the south of Seattle. Do you have any good deal?"
answer = ask_real_estate_question(question)
print(answer)

/Users/mpaz/github/woodshed/ai/articles/virtual-property-consultant/venv/lib/python3.9/site-packages/langchain_experimental/agents/agent_toolkits/pandas/base.py:242: UserWarning: Received additional kwargs {'initial_context': "You are a knowledgeable real estate agent. Your job is to help the user find the perfect home, give advice on real estate, negotiate deals, and provide expert insights on the housing market. The column 'Possibly to negotiate'tells you how willing you can be to negotiate with the client. Use the Price cut to promote houses with large price cuts.Answer the questions as professionally as possible."} which are no longer supported.
  warnings.warn(

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df_south = df[df['Area'] == 'South']\ndf_three_bedroom = df_south[df_south['beds'] == 3]\ndf_three_bedroom"}`
responded: Sure, I can help you find a good deal on a three-bedroom house in the south of Seattle. Let me filter the dataframe to show you the available options.

      Unnamed: 0  beds  baths    size  lot_size  zip_code      price   Area  \
112          112     3    3.0   581.1    8712.0     98146   431105.6  South
214          214     3    4.0  1210.3  161172.0     98168   305367.4  South
252          252     3    4.0  1083.2     554.7     98144   605844.2  South
339          339     3    3.0  1695.1    4639.6     98118   528945.1  South
344          344     3    5.5   972.0   34848.0     98178   387043.6  South
477          477     3    3.0  2034.8    7948.9     98146   340988.3  South
480          480     3    2.0   815.9    7336.6     98118   447264.9  South
509          509     3    3.0   988.5    4254.5     98118   564441.4  South
526          526     3    4.5  1297.0  169884.0     98118   479484.0  South
612          612     3    3.0   931.8     755.4     98118   577870.6  South
644          644     3    3.0  1155.1    4633.9     98144   296404.8  South
653          653     3    2.0  2256.6    8368.3     98168   516563.5  South
689          689     3    3.0   959.1     710.9     98118   583434.6  South
733          733     3    3.5  1055.4   39204.0     98144   660596.7  South
738          738     3    4.5  1425.6   13068.0     98178  1678129.0  South
740          740     3    4.0  1116.7     726.4     98118   551418.6  South
757          757     3    4.0  1464.5    5935.6     98108   699226.7  South
779          779     3    3.0   589.7   17424.0     98144   464978.8  South
784          784     3    3.5  1540.5    4896.2     98118   758253.6  South
801          801     3    4.0  1852.9    6810.5     98168   560357.3  South
817          817     3    3.5   817.7     823.3     98118   563037.7  South
819          819     3    2.0  1374.1    4834.3     98118   531646.3  South
838          838     3    3.0   817.8    3922.0     98144   729021.3  South
859          859     3    3.0  1115.4     543.5     98144   588731.6  South
861          861     3    2.5  1202.8    1590.3     98144   736177.7  South
863          863     3    3.5  1229.1    3726.9     98118   685464.2  South
895          895     3    4.0  2643.2    4832.3     98144   688024.2  South
942          942     3    2.0   787.7    4388.1     98108   548761.1  South
949          949     3    2.0   799.9    5014.6     98118   478172.3  South
982          982     3    3.5  1009.3    4663.9     98118   490181.3  South
1005        1005     3    3.0   815.2  161172.0     98146   302997.9  South
1020        1020     3    2.0   918.8   13068.0     98168   444672.2  South
1104        1104     3    3.0  1441.8    5738.5     98108   664588.7  South
1126        1126     3    3.0   904.1    4525.9     98144   770985.8  South
1145        1145     3    4.0  1598.4    5772.5     98108   689840.6  South
1162        1162     3    4.0  1103.0     561.6     98144   580138.5  South
1237        1237     3    3.0   899.5    3092.2     98118   528024.9  South
1259        1259     3    3.5  1353.0    5442.2     98118   919836.7  South
1295        1295     3    3.0   769.3    7527.9     98118   632678.2  South
1349        1349     3    2.0  1183.5    1810.9     98144   675116.2  South
1393        1393     3    2.0   936.2    3911.7     98144   321933.1  South
1398        1398     3    2.5  2197.7    3885.9     98144   633466.1  South
1402        1402     3    3.0   969.2    1458.2     98144   577701.1  South
1418        1418     3    3.0   745.1    6262.6     98146   411679.2  South
1531        1531     3    3.0   898.3    4521.3     98108   434466.7  South
1552        1552     3    2.5   922.3   39204.0     98144   679003.6  South
1617        1617     3    3.0   766.0    1148.0     98144   699108.1  South
1633        1633     3    3.5   784.5    1120.0     98144   583712.8  South

     Possibility to negotiate  Price cut on original price
112                    Middle                        10059
214                    Middle                        13911
252                    Middle                        30292
339                    Middle                        26447
344                    Middle                         3870
477                       Low                         9471
480                       Low                        12424
509                    Middle                        28222
526                      High                        15450
612                    Middle                        23756
644                    Middle                         8233
653                       Low                         9757
689                       Low                        26578
733                    Middle                        12477
738                       Low                        24239
740                       Low                        12866
757                       Low                        19422
779                    Middle                         4649
784                       Low                        27802
801                    Middle                        13075
817                       Low                        10635
819                    Middle                        17130
838                    Middle                        17010
859                    Middle                        11120
861                       Low                        10633
863                    Middle                        12947
895                    Middle                        16053
942                      High                        10365
949                    Middle                        15407
982                       Low                        15794
1005                      Low                         9763
1020                      Low                        18280
1104                   Middle                        15507
1126                      Low                        21416
1145                   Middle                        25294
1162                      Low                        16114
1237                   Middle                         9973
1259                   Middle                        13286
1295                   Middle                        11950
1349                     High                        24754
1393                   Middle                         7511
1398                   Middle                        17596
1402                   Middle                        10912
1418                   Middle                        16924
1531                   Middle                         8206
1552                   Middle                        12825
1617                     High                        10098
1633                   Middle                        29185  Here are some good deals on three-bedroom houses in the south of Seattle:

|   Unnamed: 0 |   beds |   baths |   size |   lot_size |   zip_code |   price | Area  | Possibility to negotiate |   Price cut on original price |
|-------------:|-------:|--------:|-------:|-----------:|-----------:|--------:|:------|:------------------------|------------------------------:|
|          112 |      3 |     3   |  581.1 |     8712   |      98146 | 431106  | South | Middle                  |                         10059 |
|          214 |      3 |     4   | 1210.3 |   161172   |      98168 | 305367  | South | Middle                  |                         13911 |
|          252 |      3 |     4   | 1083.2 |      555   |      98144 | 605844  | South | Middle                  |                         30292 |
|          339 |      3 |     3   | 1695.1 |     4639.6 |      98118 | 528945  | South | Middle                  |                         26447 |
|          344 |      3 |     5.5 |  972   |    34848   |      98178 | 387044  | South | Middle                  |                          3870 |

Please let me know if you would like more information about any of these properties.

> Finished chain.
Here are some good deals on three-bedroom houses in the south of Seattle:

|   Unnamed: 0 |   beds |   baths |   size |   lot_size |   zip_code |   price | Area  | Possibility to negotiate |   Price cut on original price |
|-------------:|-------:|--------:|-------:|-----------:|-----------:|--------:|:------|:------------------------|------------------------------:|
|          112 |      3 |     3   |  581.1 |     8712   |      98146 | 431106  | South | Middle                  |                         10059 |
|          214 |      3 |     4   | 1210.3 |   161172   |      98168 | 305367  | South | Middle                  |                         13911 |
|          252 |      3 |     4   | 1083.2 |      555   |      98144 | 605844  | South | Middle                  |                         30292 |
|          339 |      3 |     3   | 1695.1 |     4639.6 |      98118 | 528945  | South | Middle                  |                         26447 |
|          344 |      3 |     5.5 |  972   |    34848   |      98178 | 387044  | South | Middle                  |                          3870 |

Please let me know if you would like more information about any of these properties.