In [9]:
from sqlalchemy import create_engine, text

In [11]:
engine = create_engine('sqlite:///ecommerce.db', echo=True)

In [ ]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT 1"))
    # Fetch and print the result
    print(result.scalar()) # This should print 1 if the connection is successful

In [13]:
from sqlalchemy import (
    create_engine,
    Table,
    Column,
    Integer,
    String,
    Float,
    ForeignKey,
    DateTime,
    text,
)
from sqlalchemy.ext.declarative import declarative_base
from datetime import datetime

Base = declarative_base()


class Book(Base):
    __tablename__ = "books"

    book_id = Column(Integer, primary_key=True)
    title = Column(String(200), nullable=False)
    author = Column(String(100), nullable=False)
    isbn = Column(String(13), unique=True)
    price = Column(Float, nullable=False)
    stock = Column(Integer, default=0)
    category = Column(String(50))


class Customer(Base):
    __tablename__ = "customers"

    customer_id = Column(Integer, primary_key=True)
    email = Column(String(100), unique=True, nullable=False)
    name = Column(String(100), nullable=False)
    address = Column(String(200))
    phone = Column(String(20))


class Order(Base):
    __tablename__ = "orders"

    order_id = Column(Integer, primary_key=True)
    customer_id = Column(Integer, ForeignKey("customers.customer_id"))
    order_date = Column(DateTime, default=datetime.utcnow)
    total_amount = Column(Float, nullable=False)
    status = Column(String(20), default="pending")


class OrderItem(Base):
    __tablename__ = "order_items"

    item_id = Column(Integer, primary_key=True)
    order_id = Column(Integer, ForeignKey("orders.order_id"))
    book_id = Column(Integer, ForeignKey("books.book_id"))
    quantity = Column(Integer, nullable=False)
    price = Column(Float, nullable=False)


# Create all tables in the database
engine = create_engine("sqlite:///bookstore.db", echo=True)
Base.metadata.create_all(engine)

2024-11-11 14:17:29,880 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-11 14:17:29,882 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("books")
2024-11-11 14:17:29,886 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 14:17:29,893 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("books")
2024-11-11 14:17:29,900 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 14:17:29,913 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2024-11-11 14:17:29,914 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 14:17:29,917 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customers")
2024-11-11 14:17:29,918 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 14:17:29,922 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("orders")
2024-11-11 14:17:29,923 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 14:17:29,928 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("orders")
2024-11-11 14:17:29,930 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 14:17:29,933 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("order_items")
2024-11-11 14:17:29,941 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 14:17:29,943 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("order_items")
2024-11-11 14:17:29,945 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 14:17:29,956 INFO sqlalchemy.engine.Engine
CREATE TABLE books (
	book_id INTEGER NOT NULL,
	title VARCHAR(200) NOT NULL,
	author VARCHAR(100) NOT NULL,
	isbn VARCHAR(13),
	price FLOAT NOT NULL,
	stock INTEGER,
	category VARCHAR(50),
	PRIMARY KEY (book_id),
	UNIQUE (isbn)
)


2024-11-11 14:17:29,959 INFO sqlalchemy.engine.Engine [no key 0.00331s] ()
2024-11-11 14:17:29,967 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	customer_id INTEGER NOT NULL,
	email VARCHAR(100) NOT NULL,
	name VARCHAR(100) NOT NULL,
	address VARCHAR(200),
	phone VARCHAR(20),
	PRIMARY KEY (customer_id),
	UNIQUE (email)
)


2024-11-11 14:17:29,969 INFO sqlalchemy.engine.Engine [no key 0.00207s] ()
2024-11-11 14:17:29,975 INFO sqlalchemy.engine.Engine
CREATE TABLE orders (
	order_id INTEGER NOT NULL,
	customer_id INTEGER,
	order_date DATETIME,
	total_amount FLOAT NOT NULL,
	status VARCHAR(20),
	PRIMARY KEY (order_id),
	FOREIGN KEY(customer_id) REFERENCES customers (customer_id)
)


2024-11-11 14:17:29,976 INFO sqlalchemy.engine.Engine [no key 0.00169s] ()
2024-11-11 14:17:29,986 INFO sqlalchemy.engine.Engine
CREATE TABLE order_items (
	item_id INTEGER NOT NULL,
	order_id INTEGER,
	book_id INTEGER,
	quantity INTEGER NOT NULL,
	price FLOAT NOT NULL,
	PRIMARY KEY (item_id),
	FOREIGN KEY(order_id) REFERENCES orders (order_id),
	FOREIGN KEY(book_id) REFERENCES books (book_id)
)


2024-11-11 14:17:29,988 INFO sqlalchemy.engine.Engine [no key 0.00205s] ()
2024-11-11 14:17:30,022 INFO sqlalchemy.engine.Engine COMMIT

/var/folders/0n/m62rpbbj60b2p0xcy2j637800000gn/T/ipykernel_43827/2704103804.py:15: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [14]:
with engine.connect() as connection:
    result = connection.execute(
        text("SELECT name FROM sqlite_master WHERE type='table';")
    )
    print("\nTables created:")
    for row in result:
        print(row[0])

2024-11-11 14:18:03,164 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-11 14:18:03,197 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table';
2024-11-11 14:18:03,206 INFO sqlalchemy.engine.Engine [generated in 0.04242s] ()

Tables created:
books
customers
orders
order_items
2024-11-11 14:18:03,219 INFO sqlalchemy.engine.Engine ROLLBACK

In [15]:
from sqlalchemy.orm import Session


# Create sample data
def populate_sample_data():
    with Session(engine) as session:
        # Add books
        books = [
            Book(
                title="The Great Gatsby",
                author="F. Scott Fitzgerald",
                isbn="9780743273565",
                price=14.99,
                stock=50,
                category="Fiction",
            ),
            Book(
                title="Python Crash Course",
                author="Eric Matthes",
                isbn="9781593279288",
                price=29.99,
                stock=35,
                category="Programming",
            ),
            Book(
                title="Dune",
                author="Frank Herbert",
                isbn="9780441172719",
                price=18.99,
                stock=25,
                category="Science Fiction",
            ),
        ]
        session.add_all(books)

        # Add customers
        customers = [
            Customer(
                email="john@example.com",
                name="John Smith",
                address="123 Main St",
                phone="555-0123",
            ),
            Customer(
                email="jane@example.com",
                name="Jane Doe",
                address="456 Oak Ave",
                phone="555-0456",
            ),
        ]
        session.add_all(customers)

        # Commit to save books and customers first
        session.commit()

        # Add orders
        order1 = Order(customer_id=1, total_amount=44.98, status="completed")
        session.add(order1)
        session.flush()  # This ensures order1 has an ID

        # Add order items
        order_items = [
            OrderItem(order_id=order1.order_id, book_id=1, quantity=2, price=14.99),
            OrderItem(order_id=order1.order_id, book_id=2, quantity=1, price=29.99),
        ]
        session.add_all(order_items)

        session.commit()


# Run the population function
try:
    populate_sample_data()
    print("Sample data inserted successfully!")
except Exception as e:
    print(f"Error inserting data: {e}")

# Test query to verify the data
with Session(engine) as session:
    # Query to show books ordered by a customer
    query = text(
        """
        SELECT c.name, b.title, oi.quantity, oi.price
        FROM customers c
        JOIN orders o ON c.customer_id = o.customer_id
        JOIN order_items oi ON o.order_id = oi.order_id
        JOIN books b ON oi.book_id = b.book_id
        WHERE c.customer_id = 1;
    """
    )

    result = session.execute(query)
    print("\nOrders for John Smith:")
    print("Customer | Book | Quantity | Price")
    print("-" * 50)
    for row in result:
        print(f"{row.name} | {row.title} | {row.quantity} | ${row.price}")

2024-11-11 14:19:20,073 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-11 14:19:20,088 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, isbn, price, stock, category) VALUES (?, ?, ?, ?, ?, ?) RETURNING book_id
2024-11-11 14:19:20,093 INFO sqlalchemy.engine.Engine [generated in 0.00235s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('The Great Gatsby', 'F. Scott Fitzgerald', '9780743273565', 14.99, 50, 'Fiction')
2024-11-11 14:19:20,103 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, isbn, price, stock, category) VALUES (?, ?, ?, ?, ?, ?) RETURNING book_id
2024-11-11 14:19:20,104 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('Python Crash Course', 'Eric Matthes', '9781593279288', 29.99, 35, 'Programming')
2024-11-11 14:19:20,108 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, isbn, price, stock, category) VALUES (?, ?, ?, ?, ?, ?) RETURNING book_id
2024-11-11 14:19:20,113 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Dune', 'Frank Herbert', '9780441172719', 18.99, 25, 'Science Fiction')
2024-11-11 14:19:20,122 INFO sqlalchemy.engine.Engine INSERT INTO customers (email, name, address, phone) VALUES (?, ?, ?, ?) RETURNING customer_id
2024-11-11 14:19:20,124 INFO sqlalchemy.engine.Engine [generated in 0.00030s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('john@example.com', 'John Smith', '123 Main St', '555-0123')
2024-11-11 14:19:20,128 INFO sqlalchemy.engine.Engine INSERT INTO customers (email, name, address, phone) VALUES (?, ?, ?, ?) RETURNING customer_id
2024-11-11 14:19:20,129 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('jane@example.com', 'Jane Doe', '456 Oak Ave', '555-0456')
2024-11-11 14:19:20,134 INFO sqlalchemy.engine.Engine COMMIT
2024-11-11 14:19:20,139 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-11 14:19:20,142 INFO sqlalchemy.engine.Engine INSERT INTO orders (customer_id, order_date, total_amount, status) VALUES (?, ?, ?, ?)
2024-11-11 14:19:20,147 INFO sqlalchemy.engine.Engine [generated in 0.00503s] (1, '2024-11-11 19:19:20.142391', 44.98, 'completed')
2024-11-11 14:19:20,157 INFO sqlalchemy.engine.Engine INSERT INTO order_items (order_id, book_id, quantity, price) VALUES (?, ?, ?, ?) RETURNING item_id
2024-11-11 14:19:20,162 INFO sqlalchemy.engine.Engine [generated in 0.00386s (insertmanyvalues) 1/2 (ordered; batch not supported)] (1, 1, 2, 14.99)
2024-11-11 14:19:20,175 INFO sqlalchemy.engine.Engine INSERT INTO order_items (order_id, book_id, quantity, price) VALUES (?, ?, ?, ?) RETURNING item_id
2024-11-11 14:19:20,274 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] (1, 2, 1, 29.99)
2024-11-11 14:19:20,281 INFO sqlalchemy.engine.Engine COMMIT
Sample data inserted successfully!
2024-11-11 14:19:20,302 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-11 14:19:20,307 INFO sqlalchemy.engine.Engine
        SELECT c.name, b.title, oi.quantity, oi.price
        FROM customers c
        JOIN orders o ON c.customer_id = o.customer_id
        JOIN order_items oi ON o.order_id = oi.order_id
        JOIN books b ON oi.book_id = b.book_id
        WHERE c.customer_id = 1;

2024-11-11 14:19:20,312 INFO sqlalchemy.engine.Engine [generated in 0.00430s] ()

Orders for John Smith:
Customer | Book | Quantity | Price
--------------------------------------------------
John Smith | The Great Gatsby | 2 | $14.99
John Smith | Python Crash Course | 1 | $29.99
2024-11-11 14:19:20,320 INFO sqlalchemy.engine.Engine ROLLBACK